node_modules
npm-debug.log*
.npm
.nyc_output
.coverage
.coverage.*
coverage
*.log
logs
*.tgz
.cache
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode
.git
.gitignore
README.md
*.md
pokemon-dashboard/node_modules
pokemon-dashboard/build
pokemon-dashboard/.eslintcache
data/testPurchases.json